# --- Base & Image Processing ---
numpy
# Use headless OpenCV for server environments (smaller/faster)
opencv-python-headless
onnxruntime
pillow
shapely
matplotlib

# --- Web Framework ---
Flask
Flask-Cors
gunicorn

# --- Utilities ---
pyyaml==5.1

# --- Detectron2 ---
# We install this from source to match our PyTorch version
detectron2 @ git+https://github.com/facebookresearch/detectron2.git